.slicker__item-old-price {
  vertical-align: bottom;
    margin: 0;
  padding: 0;
  font-style: normal;
font-weight: normal;
  font-size: 13px;
  height: 15px;
line-height: 15px;
color: #888888;
text-decoration: line-through;
}

@media all and (max-width: 1000px) {
  .slicker__item-old-price {
    display: none;
  }
}

@media all and (max-width: 400px) {
  .slicker__item-old-price {
    display: unset;
  }
}